body{
    font-family:arial;
}

h1{
    background-color:darkorange;
    color:white;
    font-weight:bold;
    font-size:2em;
    padding:10px 0px;
}

#instructions{
    background-color:bisque;
    line-height:1.5em;
    color:black;
}

p{
    margin:0.5em;
}

#targetScore, #playerScore, #wins, #losses{
    font-size:2em;
    background-color:darkorange;
    color:white;
    margin: 5px 0px;
}

.gem{
    width:25%;
}
#gems{
    height:100px;
    display:flex;
    flex-direction:row;
}

#wins{
    clear:left;
}

.myImage{
    width:auto;
    height:100%
}
